Footer{
    text-align: center;
    background: linear-gradient(to right, #c6d4e1, #44749d);
}

#body1{
    background: linear-gradient(to right, #c6d4e1, #44749d);
    color: black;
    padding: 2% 10%;
}

.header-div{
    min-height: 400px;
    align-items: center;
}

.rafael-george-perfil{
    width: 150px;
    height: 150px;
    border-radius: 20%;
}

.resumo-div{
    min-height: 400px;
    align-items: center;
}

.resumo-div a{
    color: black;
}

.formacao{
    padding-bottom: 5%;
}

.formacao-item img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.formacao-item {
    position:relative
}
.formacao-item:hover{
    top:-4px;
    box-shadow:0 4px 4px #c6d4e1;
    transition: all .2s ease-in-out
}

#accordionFlushExample{
    color: black;
}

.accordion-button{
    background: linear-gradient(to right, #c6d4e1, #44749d);
    color: black;
}

.accordion-item{
    background: linear-gradient(to right, #c6d4e1, #44749d);
}

.accordion-body{
    text-align: left;
}