Footer{
    text-align: center;
}

#body1{
    background: linear-gradient(to right, #c6d4e1, gray);
    color: black;
    padding: 0% 12%;
    text-rendering: optimizeLegibility;
}

.header-div{
    min-height: 400px;
    align-items: center;
}

.descricao{
    text-align: justify;
    text-rendering: optimizeLegibility;
}

.rafael-george-perfil{
    width: 200px;
    height: 200px;
    border-radius: 70%;
}

.resumo-div{
    min-height: 300px;
    text-align: justify;
}

.resumo-div a{
    color: black;
}

.formacao, .experiencia {
    padding-bottom: 5%;
}

.formacao p, .experiencia p{
    text-align: center;
}


.formacao-item img, .experiencia-item img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.formacao-item, .experiencia-item{
    position:relative;
    margin-top: 3%;
}

.formacao-item:hover, .card:hover, .experiencia-item:hover{
    top:-3px;
    box-shadow:4px 4px 4px #c6d4e1;
    transition: all .2s ease-in-out
}

.row{
    justify-content: center;
    align-items: center;
}

.projetos{
    margin: 3% 0;
}

.experiencias{
    margin: 3% 0;
}

.col{
    padding: auto;
    margin-top: 1rem;
    text-align: center;
}

.btn-success{
    bottom: 0 !important;
}

.card-img-top{
    height: 200px;
    width: 100%;
}

.color-number-card{
    background-color: black;
}

.card-body{
    background-color: black;
}

#accordionFlushExample{
    color: black;
}

.accordion-button{
    background: linear-gradient(to right, #c6d4e1, gray);
    color: black;
}

.accordion-item{
    background: linear-gradient(to right, #c6d4e1, gray);
}

.accordion-body{
    text-align: left;
    background-color: gray 0.75;
}